* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  line-height: 2;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

body {
  background-color: #262626;
  color: #f0eeee;
}

.loader-wrapper {
  z-index: 9999;
  background-color: #f0eeee;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.loader-wrapper .loader {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-wrapper .loader .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #3f2618;
  left: 15%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: circle 0.5s alternate infinite ease;
          animation: circle 0.5s alternate infinite ease;
}

@-webkit-keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.loader-wrapper .loader .circle:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-wrapper .loader .circle:nth-child(3) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader-wrapper .loader .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  z-index: -1;
  left: 15%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation: shadow 0.5s alternate infinite ease;
          animation: shadow 0.5s alternate infinite ease;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: 0.4;
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.loader-wrapper .loader .shadow:nth-child(4) {
  left: 45%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-wrapper .loader .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader-wrapper .loader .wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #f0eeee;
  left: 15%;
}

nav {
  width: 100%;
  padding: 2% 8% 0 8%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.479);
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.205);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  list-style: none;
  margin-bottom: 0;
}

nav ul li {
  margin-left: 5%;
  padding-bottom: 1%;
}

nav ul li a {
  color: #f0eeee;
}

nav ul li a:hover {
  color: #f0eeee;
}

nav .logo {
  margin-right: auto;
  font-size: 2rem;
  margin-bottom: 2%;
  position: absolute;
  top: 16%;
  color: #f0eeee;
}

nav .ham-icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
}

nav:hover {
  background-color: #262626;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-items {
  width: 0%;
  height: 100vh;
  background-color: #f0eeee;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-items .close {
  width: 24px;
  height: 24px;
  margin: 8%;
  cursor: pointer;
  float: right;
}

.menu-items ul {
  list-style: none;
  text-align: center;
  margin-top: 36%;
}

.menu-items ul a {
  color: #121212;
  line-height: 3;
  font-size: 1.2rem;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(/images/bg1.jpg);
  color: #262626;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 60%;
  font-size: 3rem;
}

.features {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10% 0;
  margin: auto;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.features h2 {
  font-size: 1.5rem;
  position: relative;
  right: -48%;
  margin-bottom: 16%;
}

.features p {
  font-size: 0.7rem;
  text-align: right;
  position: relative;
  left: -20%;
}

.features .features-one,
.features .features-two,
.features .features-three {
  position: relative;
}

.features .features-one::before,
.features .features-two::before,
.features .features-three::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 130px;
  border: 2px solid rgba(122, 117, 117, 0.5);
  right: -40%;
}

.description {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/images/interior.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/interior.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.description .text {
  width: 70%;
  height: auto;
  direction: rtl;
  text-align: right;
  background-color: #f0eeee;
  color: #121212;
  padding: 4%;
  border-radius: 3px;
  margin-left: 1.6%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.description .text h1 {
  padding-bottom: 9%;
  font-weight: bold;
  font-size: 2.5rem;
}

.our-team {
  width: 80%;
  margin: auto;
  margin-top: 30%;
}

.our-team h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.our-team .members-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20%;
}

.our-team .members-wrapper .member1, .our-team .members-wrapper .member2, .our-team .members-wrapper .member3 {
  border-radius: 3px;
  width: 30%;
  height: 300px;
  background-image: url(/images/person3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.our-team .members-wrapper .member1 h2, .our-team .members-wrapper .member2 h2, .our-team .members-wrapper .member3 h2 {
  font-size: 1.6rem;
  position: absolute;
  top: 107%;
  right: 10%;
}

.our-team .members-wrapper .member1 p, .our-team .members-wrapper .member2 p, .our-team .members-wrapper .member3 p {
  position: absolute;
  top: 120%;
  right: 10%;
}

.our-team .members-wrapper .member1 p::after, .our-team .members-wrapper .member2 p::after, .our-team .members-wrapper .member3 p::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #deba6f;
  margin-left: 10px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
  text-align: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10% 0 6% 0;
  border-top: 2px solid rgba(255, 255, 255, 0.479);
}

footer .about {
  width: 30%;
}

footer .about p {
  font-size: 0.9rem;
}

footer .about button {
  padding: 1rem 2rem;
  border: none;
  background-color: #deba6f;
  border-radius: 3px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transform: translateY(16%);
          transform: translateY(16%);
  -webkit-transition: background-size 1s 0s;
  transition: background-size 1s 0s;
  position: relative;
}

footer .about button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .about button:hover::before {
  width: 100%;
}

footer .about button:active {
  background-color: #262626;
}

footer .contact {
  width: 30%;
  padding-right: 10%;
}

footer .contact img {
  padding-left: 3%;
}

footer .social-media {
  width: 25%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-media a {
  color: #f0eeee;
  margin-bottom: 8%;
}

footer .social-media .icon {
  margin-left: 9%;
  width: 24px;
  height: 24px;
}

.copyright {
  text-align: center;
  background-color: #f0eeee;
  color: #121212;
  font-size: 0.8rem;
}

.up {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 6%;
  left: 1%;
}

.up img {
  border-radius: 50%;
}

@media screen and (max-width: 769px) {
  * {
    font-size: 14px;
  }
  nav {
    height: 60px;
  }
  nav ul {
    display: none;
  }
  nav .ham-icon {
    display: block;
    margin: 1%;
  }
  nav .logo {
    top: 0;
  }
  .features {
    width: 76%;
  }
  .description .text {
    width: 75%;
    height: auto;
  }
  .our-team {
    margin-top: 50%;
  }
  .our-team .members-wrapper .member1, .our-team .members-wrapper .member2, .our-team .members-wrapper .member3,
  .our-team .members-wrapper .member2,
  .our-team .members-wrapper .member3 {
    width: 30%;
    margin: auto;
    margin-bottom: 25%;
    height: 230px;
  }
}

@media screen and (max-width: 550px) {
  .features {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-one,
  .features-two,
  .features-three {
    margin-bottom: 20%;
  }
  .features-one p,
  .features-two p,
  .features-three p {
    left: -35%;
  }
  .our-team {
    margin-top: 70%;
  }
  .our-team .members-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-team .members-wrapper .member1, .our-team .members-wrapper .member2, .our-team .members-wrapper .member3,
  .our-team .members-wrapper .member2,
  .our-team .members-wrapper .member3 {
    width: 70%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .about,
  footer .contact,
  footer .social-media {
    width: 80%;
    margin-bottom: 10%;
    padding: 0;
  }
  .up {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 376px) {
  .our-team {
    margin-top: 110%;
  }
  .our-team .members-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-team .members-wrapper .member1, .our-team .members-wrapper .member2, .our-team .members-wrapper .member3,
  .our-team .members-wrapper .member2,
  .our-team .members-wrapper .member3 {
    width: 70%;
    margin-bottom: 40%;
  }
}
/*# sourceMappingURL=about-us-style.css.map */